.profile-pic{
  width:250px;
  height: 250px;
  border-radius: 50%;

}
.fa-brands{
  margin: 0.7vw;
  color: rgb(253, 255, 255);
  height: 2vw;
  width: 2vw;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7)),url(images/bgp.jpg);
  background-position: center;
  background-size:cover;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  font-size: 30px;
  margin: auto;
  width: 100%;
  /* text-align:center; */
  color: white;
  text-shadow: black 50px;
}
.navbar{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
  
}
.logo{
  font-size: 2.0rem;
  margin: .5rem;
}
.navbar-links {
  height: 100%;
}
.navbar-links ul{
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.navbar-links li:hover{
  background-color: #555;
}
.toggle-button{
  position: absolute;
  top:.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width:100%;
  background-color: white;
  border-radius:10px;
}
.top{
  padding: 20px;
  font-size: 30px;
  margin: auto;
  width: 100%;
  text-align:center;
  color: white;
  text-shadow: black 50px;
}

.skillset{
  text-align: center;
  width: 70%;
  margin: auto;
 
}
.langlogo{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;margin-bottom: 5vw;
  margin-top: 5vw;
}
.skill{
  border-radius: 15px;
  padding: 8px;
  margin: 4px;
  height: 5vw;
  width: 5vw; 
}
.techlogo{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5vw;
  margin-top: 5vw;
}
.dblogo{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.tool{
  display: flex;
  margin:auto;
  justify-content: space-evenly;
  margin-bottom: 8vw;
  margin-top: 5vw;
}
.other{
  display: flex;
  margin:auto;
  justify-content: space-evenly;
  margin-bottom: 8vw;
  margin-top: 5vw;
}
.icon{
  width: 25%;
  border-radius: 20px;
  float: left;
  margin-right: 30px;
}
.pc{
  width: 25%;
  border-radius: 20px;
  float:right;
  margin-left: 30px;
}
.About{
  width: 50%;
  text-align:left;
  margin:100px auto 100px ;
  
}
.skills{
 
  /* text-align: left; */
  margin:100px auto 100px ;
}
.contact-me{
  width: 50%;
  margin:100px auto 100px ;
}


bottom-container{
  background: #30e3cb;
}

@media (max-width: 400px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .toggle-button {
      display: flex;
  }
  .navbar-links {
      display: none;
      width: 100%;
  }
  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }
  .navbar-links ul li {
      text-align: center;
  }
  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}