.profile-pic{
  width:250px;
  height: 250px;
  border-radius: 50%;

}
.fa-brands{
  margin: 0.7vw;
  color: rgb(253, 255, 255);
  height: 2vw;
  width: 2vw;
}
.top{
  background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(/images/bgp.jpg);

  background-position: center;
  background-size: cover;
  
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: auto;
  width: 100%;
  text-align:center;
  color: white;
  text-shadow: black 50px;
}

.skillset{
  text-align: center;
  width: 70%;
  margin: auto;
 
}
.langlogo{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
}
.skill{
  border-radius: 15px;
  padding: 8px;
  margin: 4px;
  height: 5vw;
  width: 5vw; 
}
.techlogo{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
}

.icon{
  width: 25%;
  border-radius: 20px;
  float: left;
  margin-right: 30px;
}
.pc{
  width: 25%;
  border-radius: 20px;
  float:right;
  margin-left: 30px;
}
.About{
  width: 50%;
  text-align: left;
  margin:100px auto 100px ;
}
.skills{
 
  text-align: left;
  margin:100px auto 100px ;
}
.contact-me{
  width: 50%;
  margin:100px auto 100px ;
}


bottom-container{
  background: #30e3cb;
}
